<%- if current_user.admin? -%>
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %><br>
    <% end %>
  <% end %>

  <h2>Trail Edit Page</h2>
  <%= form_for @trail do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :street %>
    <%= f.text_field :street %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
    <%= f.label :start_latitude %>
    <%= f.text_field :start_latitude %>
    <%= f.label :start_longitude %>
    <%= f.text_field :start_longitude %>
    <%= f.label :length %>
    <%= f.text_field :length %>
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :ascent %>
    <%= f.text_field :ascent %>
    <%= f.label :low_elevation %>
    <%= f.text_field :low_elevation %>
    <%= f.label :high_elevation %>
    <%= f.text_field :high_elevation %>
    <%= f.label :profile_photo %>
    <%= f.file_field :profile_photo %>

    <%= f.submit 'Edit Trail' %>
  <% end %>

  <%= link_to 'Delete This Trail', trail_path(@trail),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% else %>
  <% flash.now[:notice] = "You are not authorized to view this page." %>
<% end %>
