<h1>Edit review page</h1>

<%= form_for [@trail, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.submit 'Edit Review' %>
<% end %>


<%= button_to "Delete Review", {:controller => :reviews,
      :action => 'destroy', :id => @review.id }, :method => :delete %>
