<h2>Review Form for <%= @trail.name %></h2>

<%= form_for [@trail, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.submit 'Add Review' %>
<% end %>
